.section-title {
  font-family: 'Inter';
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 50px;

  &__accent {
    color: var(--color-brand);
  }
}
