.about-section {
  &__content {
    display: flex;
    gap: 32px;
    background-color: var(--color-secondary-dark);
    align-items: center;
  }

  &__content-text-title {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Inter';
    padding-bottom: 30px;
  }
  &__content-text {
    padding-bottom: 30px;
  }
}
